#
# Ambiq Micro - Apollo EVK Board.
#

source [find interface/ftdi/ambiq_ft4232.cfg]

# Apollo cannot exceed 8k for flash programming.
set WORKAREASIZE 0x200
set CHIPNAME apollo

reset_config srst_only srst_open_drain

transport select swd

adapter_khz 1000

source [find target/ambiq_apollo.cfg]
