#
# Eta Compute ECM35xx
#
# http://www.etacompute.com
# Rick Foos <rfoos@solengtech.com>
#
# ECM35xx EVK with ulink2

source [find interface/cmsis-dap.cfg]

adapter_khz 1000

source [find target/eta_ecm35xx.cfg]
